<div class="fixed top-0 z-50 flex items-center justify-between w-full p-2 shadow-lg bg-header">
  <div class="flex items-center gap-4 divide-x divide-text1">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
      </svg>
    </div>
    <div class="pl-2">
      <img src="../assets/logo.png">
      <p class="pl-8 text-xs text-text2">Appreciations matters</p>
    </div>
    <div class="relative z-50 pl-2 pr-2 focus:shadow-lg focus:rounded-t-lg focus:bg-white " data-te-dropdown-ref>
      <button class="flex items-center gap-5 text-xs font-medium whitespace-nowrap " type="button"
        id="dropdownMenuButton1" data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init
        data-te-ripple-color="light">
        <span class="font-sans text-xs font-semibold">Company:<span class="text-blue1">Phodavone</span></span>
        <span class="font-sans text-xs font-semibold">Unit:<span class="text-blue1">Intra</span></span>
        <span class="font-sans text-xs font-semibold">Team:<span class="text-blue1">Front-end Team</span></span>
        <span>
          <img src="../assets/arrow2.png" alt="" id="arrow-btn">
        </span>
      </button>
      <div class="absolute z-[5000] float-left divide-y divide-text1 m-0 p-2
      hidden w-full  list-none
         overflow-hidden rounded-b-lg border-none bg-white bg-clip-padding text-left text-base
         shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block" aria-labelledby="dropdownMenuButton1"
        data-te-dropdown-menu-ref>
        <p
          class="w-full p-1 text-sm font-normal text-center text-white bg-blue1 rouded-sm after:absolute after:h-0 after:w-0 after:left-1/2 after:top-9 after:border-8 after:border-t-blue1 after:border-l-white after:border-b-white after:border-r-white after:transition-all ">
          Phodavone</p>
        <p class="w-full mt-4 border border-solid border-text1"></p>
        <div class="flex py-2 font-sans text-sm font-semibold divide-x divide-text1">
          <div class="ml-4">

            <ul>
              <li class="text-xs text-center text-blue1">Units</li>
              <li class="p-1 mt-3 hover:bg-blue1 hover:text-white ">
                All</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">
                Intra</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white">
                Ultra</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">Digital Marketing</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">Software Development</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">Product Design</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">Operations</li>
            </ul>
          </div>
          <div class="pl-3 m-auto w-50">

            <ul>
              <li class="text-xs text-center text-blue1">Teams</li>
              <li class="flex items-center p-1 px-2 bg-transparent border-b border-blue1">
                <input type="search" placeholder="find team"
                  class="w-32 font-light border-0 outline-none placeholder-blue1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3F72B0" class="w-3 h-3 opacity-90">
                  <path fillRule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clipRule="evenodd" />
                </svg>
              </li>

              <li class="p-1 mt-4 hover:bg-blue1 hover:text-white">
                Back-end Team</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">
                Front-end Team</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white">
                HR Team</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white">
                Sales Team</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">
                SEO/SEM Team</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">
                Team A</li>
              <li class="p-1 mt-1 hover:bg-blue1 hover:text-white ">
                UI/UX Team</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="flex items-center gap-3">
    <div class="flex items-center p-1 px-2 bg-transparent border border-solid rounded-full border-blue1">
      <input type="search" class="w-32 border-0 outline-none bg-header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#6a6a6a" class="w-5 h-5 opacity-90">
        <path fillRule="evenodd"
          d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
          clipRule="evenodd" />
      </svg>
    </div>
    <div class="relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#6a6a6a" class="w-5 h-5">
        <path fill-rule="evenodd"
          d="M10 2a6 6 0 00-6 6c0 1.887-.454 3.665-1.257 5.234a.75.75 0 00.515 1.076 32.91 32.91 0 003.256.508 3.5 3.5 0 006.972 0 32.903 32.903 0 003.256-.508.75.75 0 00.515-1.076A11.448 11.448 0 0116 8a6 6 0 00-6-6zM8.05 14.943a33.54 33.54 0 003.9 0 2 2 0 01-3.9 0z"
          clip-rule="evenodd" />
      </svg>
      <p class="absolute top-0 right-0 w-2 h-2 rounded-full bg-danger-600"></p>
    </div>
    <img src="../assets/card/blogo4.png" class="w-10 rounded-full">

  </div>
</div>
<div class="pt-14"><router-outlet></router-outlet></div>