<div class="flex justify-between p-10 font-sans ">
  <!----left side start -->
  <div class="shadow-lg rounded-b-3xl w-72 h-[700]
  bg-spinbg font-semibold">
    <div class="p-3 rounded-t-3xl bg-cyan_blue">
      <p class="text-sm text-spintext">Winner</p>
    </div>
    <div class="p-3 px-2 divide-y divide-blue1 divide-opacity-25 ">
      <div class=" text-end" *ngFor="let item of spindata">
        <div class="flex items-center gap-1 text-sm font-semibold opacity-0">
          <img src="{{item.image}}" class=" w-14 h-14">
          <span class="pt-2 text-spintext">{{item.name}}</span>
        </div>
        <small><a class="underline opacity-0 text-text2">{{item.text}}</a></small>
        <p>{{item.textp}}</p>
      </div>
    </div>
  </div> <!----left side end --> <!----mid side start -->
  <div class=" w-[828]" *ngIf="win">
    <h1 class="text-5xl leading-none text-center text-text2 font-Cutefont" *ngIf="showpic">Welcom to <span
        class="text-blue1">Play
        Kudoboard</span>

    </h1>
    <h1 class="text-5xl leading-none text-center text-text2 font-Cutefont" *ngIf="!showpic">Good Luck, <span
        class="text-blue1">Karla</span></h1>
    <p class="-mt-1 text-sm text-center text-text2" *ngIf="showpic">Let the facilitator choose a spinner</p>

    <div class="">
      <img src="../assets/spin.png" alt="" class="mx-auto mt-5 mb-5" *ngIf="showpic" (click)="winopen()">
      <img src="../assets/Kerla.png" alt="" class="mx-auto mt-5 mb-5" *ngIf="!showpic">
      <div class="flex justify-between gap-8">
        <div> <img src="../assets/arr1.png" alt="" class="mt-4 w-9"></div>
        <div class="flex items-center gap-3 ">
          <div> <img src="../assets/card/tlogo3.png"></div>
          <div> <img src="../assets/card/tlogo4.png"></div>
          <div> <img src="../assets/card/tlogo5.png"></div>
          <div> <img src="../assets/card/tlogo6.png"></div>
          <div> <img src="../assets/card/tlogo6.png"></div>
        </div>
        <div> <img src="../assets/arr2.png" alt="" class="w-6 mt-3"></div>
      </div>
      <p class="w-full border-solid border-1 border-text1"></p>
      <div class="mt-4 text-center">
        <button class="p-5 bg-white rounded-full shadow-lg" *ngIf="showpic"><img src="../assets/profile.png"
            alt=""></button>
        <br><small class="text-text2" *ngIf="showpic">Choose Spinner</small>
        <button class="bg-white rounded-full shadow-lg " *ngIf="!showpic">
          <img src="../assets/p2.png" alt=""></button>
        <br><small class="text-text2" *ngIf="!showpic">Karla Svensson</small>
      </div>
      <button class="absolute p-2 px-4 text-sm text-white rounded-full -bottom-32 left-96 bg-blue1" routerLink="/">
        << Back to Board view</button>
    </div>

  </div>

  <div class="w-[828] win" *ngIf="!win">
    <img src="../assets/winpic.png">
    <div class="p-5 mx-8 bg-white shadow-lg rounded-3xl ">
      <div class="grid w-full grid-cols-2 pl-4 border border-solid rounded-3xl p-7 border-text1 gap-y-8 gap-x-5">
        <div class="transition-all bg-transparent rounded-md" id="card1check">
          <div class="relative max-w-md bg-white rounded-md shadow-lg">
            <div class="absolute flex items-center justify-between w-full px-1 mt-3">
              <div class="relative z-30 inline-block tooltip">
                <div
                  class="absolute z-0 flex justify-between gap-2 p-1 -mt-1 transition duration-75 ease-in bg-white rounded-full shadow-md pl-11 tooltiptext left-5 hover:hidden">
                  <div>
                    <p class="m-0 text-xs">Patty&nbsp;Kerri</p>
                    <p class="m-0 text-xs text-C1">patty.kerri@archibo.de</p>
                  </div>
                  <div>
                    <button class="p-1 text-white rounded-r-full bg-C1">TO</button>
                  </div>

                </div>
                <img src="../assets/card/card1pic.png" class="z-10 w-16 -mt-4 hover:z-30 hover:relative" id="check">
              </div>
              <p class="absolute z-20 w-full px-2 text-3xl text-center text-white -mt-11 font-Cutefont">
                Totally&nbsp;Awesome
              </p>
              <img src="../assets/card/card1logo.png" class="right-0 z-10 -mt-11">
            </div>
            <div class="relative max-w-sm">
              <img src="../assets/PatternTop.svg" class="absolute -top-36  w-[3.9rem]
              rounded-rb-md rotate-[270deg] right-[8.9rem]">

              <div class="px-3 pt-20 pr-5" id="sideBarbtn">
                <p class="text-xs text-justify text-text1">Thank you for always being my sides during all the
                  interviews
                  and decision makings in the last sprint. Without you if wouldn't be that easy for me to manage
                  everything. Looking forward for more tasks together :D</p>
              </div>
              <img src="../assets/PatternBottom.svg" class="absolute -top-2
                 rounded-rb-md rotate-[270deg] right-44">
              <div class="relative bottom-0 flex items-center justify-between w-full pl-3 mt-4 ">
                <div class="flex items-center gap-2 mt-7">
                  <button class="flex items-center text-sm text-text1"><img src="../assets/card/heart.png"
                      class="w-4 h-4">2</button>
                  <button class="flex items-center text-sm text-text1"><img src="../assets/card/msg.png"
                      class="w-4 h-4">5</button>
                  <button><img src="../assets/card/pic.png" class="w-4 h-4"></button>
                  <button type="checkbox"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#7a7a7a"
                      class="w-4 h-4">
                      <path
                        d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                    </svg>
                  </button>
                </div>
                <div class="relative z-20 inline-block mt-2 tooltip">
                  <div
                    class="absolute z-0 flex items-center justify-between gap-4 p-1 pr-8 mt-2 transition duration-75 ease-in bg-white rounded-full shadow-lg hover:hidden tooltiptext right-5">
                    <div>
                      <button class="p-1 text-white rounded-l-full bg-C1">from</button>
                    </div>
                    <div>
                      <p class="m-0 text-xs">Will&nbsp;Smith</p>
                      <p class="m-0 text-xs text-C1">will.smith@archibo.de</p>
                    </div>
                  </div>
                  <img src="../assets/card/card1pic2.png" class="z-10 w-14 hover:z-50 hover:relative">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="transition-all bg-transparent rounded-md" id="card2check">
          <div class="relative max-w-md bg-white rounded-md shadow-lg">
            <div class="absolute flex items-center justify-between w-full px-1 mt-3">
              <div class="relative z-30 inline-block tooltip">
                <div
                  class="absolute z-0 p-1 pr-5 -mt-4 transition duration-75 ease-in bg-white rounded-full shadow-md pl-11 tooltiptext left-5 hover:hidden">

                  <p class="m-0 text-xs">Patty&nbsp;Kerri</p>
                  <p class="m-0 text-xs text-C2">patty.kerri@archibo.de</p>
                </div>
                <img src="../assets/card/blogo2.png" class="z-10 w-16 -mt-7 hover:z-30 hover:relative" id="check2">
              </div>
              <p class="absolute z-20 w-full text-3xl text-center text-white -mt-14 font-Cutefont">Congratulations</p>
              <img src="../assets/card/card1ticon2.png" class="right-0 z-10 w-32 -mt-10 h-28">
            </div>
            <div class="relative max-w-sm">
              <img src="../assets/PatternTop (1).svg" class="absolute -top-36  w-[3.9rem]
              rounded-rb-md rotate-[270deg] right-[8.9rem]">
              <div class="px-3 pt-20 pr-5" id="sideBarbtn2">
                <p class="text-xs text-justify text-text1">Thank you for always being my sides during all the
                  interviews
                  and decision makings in the last sprint. Without you if wouldn't be that easy for me to manage
                  everything. Looking forward for more tasks together :D</p>
              </div>
              <img src="../assets/PatternBottom (1).svg" class="absolute -top-2
              rounded-rb-md rotate-[270deg] right-44">
              <div class="relative bottom-0 flex items-center justify-between w-full pl-3 mt-4 ">
                <div class="flex items-center gap-2 mt-6">
                  <button class="flex items-center text-sm text-text1"><img src="../assets/card/heart.png"
                      class="w-4 h-4">2</button>
                  <button class="flex items-center text-sm text-text1"><img src="../assets/card/msg.png"
                      class="w-4 h-4">5</button>
                  <button><img src="../assets/card/pic.png" class="w-4 h-4"></button>
                  <button type="checkbox"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#7a7a7a"
                      class="w-4 h-4">
                      <path
                        d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                    </svg>
                  </button>
                </div>
                <div class="relative z-20 inline-block mt-2 tooltip">
                  <div
                    class="absolute z-0 flex items-center justify-between gap-4 p-1 pl-5 pr-8 mt-2 transition duration-75 ease-in bg-white rounded-full shadow-lg hover:hidden tooltiptext right-5">
                    <div>
                      <p class="m-0 text-xs">Will&nbsp;Smith</p>
                      <p class="m-0 text-xs text-C2">will.smith@archibo.de</p>
                    </div>
                  </div>
                  <img src="../assets/card/blogo2.png" class="z-10 w-14 hover:z-50 hover:relative">
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="transition-all bg-transparent rounded-md" id="card3check">
          <div class="relative max-w-md bg-white rounded-md shadow-lg">
            <div class="absolute flex items-center justify-between w-full px-1 mt-3">
              <div class="relative z-30 inline-block tooltip">
                <div
                  class="absolute z-0 p-1 pr-5 -mt-4 transition duration-75 ease-in bg-white rounded-full shadow-md pl-11 tooltiptext left-5 hover:hidden">

                  <p class="m-0 text-xs">Patty&nbsp;Kerri</p>
                  <p class="m-0 text-xs text-C3">patty.kerri@archibo.de</p>
                </div>
                <img src="../assets/card/tlogo3.png" class="z-10 w-16 -mt-6 hover:z-30 hover:relative" id="check3">
              </div>
              <p class="absolute z-20 w-full -mt-12 text-4xl text-center text-white font-Cutefont">Proud</p>
              <img src="../assets/card/icon3.png" class="z-10 -mt-8 w-19">
            </div>
            <div class="relative max-w-sm">
              <img src="../assets/PatternTop (2).svg" class="absolute -top-36  w-[3.9rem]
              rounded-rb-md rotate-[270deg] right-[8.9rem]">
              <div class="px-3 pt-20 pr-5" id="sideBarbtn3">
                <p class="text-xs text-justify text-text1">Thank you for always being my sides during all the
                  interviews
                  and decision makings in the last sprint. Without you if wouldn't be that easy for me to manage
                  everything. Looking forward for more tasks together :D</p>
              </div>
              <img src="../assets/PatternBottom (2).svg" class="absolute -top-2
              rounded-rb-md rotate-[270deg] right-44">
              <div class="relative bottom-0 flex items-center justify-between w-full pl-3 mt-4 ">
                <div class="flex items-center gap-2 mt-6">
                  <button class="flex items-center text-sm text-danger-600"><img src="../assets/card/heartr.png"
                      class="w-4 h-4">3</button>
                  <button class="flex items-center text-sm text-text1"><img src="../assets/card/msg.png"
                      class="w-4 h-4">5</button>
                  <button type="checkbox"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#7a7a7a"
                      class="w-4 h-4">
                      <path
                        d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                    </svg>
                  </button>
                </div>
                <div class="relative z-20 inline-block mt-2 tooltip">
                  <div
                    class="absolute z-0 flex items-center justify-between gap-4 p-1 pl-5 pr-8 mt-2 transition duration-75 ease-in bg-white rounded-full shadow-lg hover:hidden tooltiptext right-5">
                    <div>
                      <p class="m-0 text-xs">Will&nbsp;Smith</p>
                      <p class="m-0 text-xs text-C3">will.smith@archibo.de</p>
                    </div>
                  </div>
                  <img src="../assets/card/blogo3.png" class="z-10 w-14 hover:z-50 hover:relative">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="transition-all bg-transparent rounded-md" id="card4check">
          <div class="relative max-w-md bg-white rounded-md shadow-lg">
            <div class="absolute flex items-center justify-between w-full px-1 mt-3">
              <div class="relative z-30 inline-block tooltip">
                <div
                  class="absolute z-0 p-1 pr-5 -mt-4 transition duration-75 ease-in bg-white rounded-full shadow-md pl-11 tooltiptext left-5 hover:hidden">

                  <p class="m-0 text-xs">Patty&nbsp;Kerri</p>
                  <p class="m-0 text-xs text-C4">patty.kerri@archibo.de</p>
                </div>
                <img src="../assets/card/tlogo4.png" class="z-10 w-16 -mt-6 hover:z-30 hover:relative" id="check4">
              </div>
              <p class="absolute z-20 w-full -mt-12 text-4xl text-center text-white font-Cutefont">Great Job</p>
              <img src="../assets/card/icon4.png" class="z-10 -mt-8 w-19">
            </div>
            <div class="relative max-w-sm">
              <img src="../assets/PatternTop (3).svg" class="absolute -top-36  w-[3.9rem]
              rounded-rb-md rotate-[270deg] right-[8.9rem]">
              <div class="px-3 pt-20 pr-5" id="sideBarbtn4">
                <p class="text-xs text-justify text-text1">Thank you for always being my sides during all the
                  interviews
                  and decision makings in the last sprint. Without you if wouldn't be that easy for me to manage
                  everything. Looking forward for more tasks together :D</p>
              </div>
              <img src="../assets/PatternBottom (3).svg" class="absolute -top-2
              rounded-rb-md rotate-[270deg] right-44">
              <div class="relative bottom-0 flex items-center justify-between w-full pl-3 mt-4 ">
                <div class="flex items-center gap-2 mt-6">
                  <button class="flex items-center text-sm text-text1"><img src="../assets/card/heart.png"
                      class="w-4 h-4">2</button>
                  <button class="flex items-center text-sm text-text1"><img src="../assets/card/msg.png"
                      class="w-4 h-4">5</button>
                  <button type="checkbox"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#7a7a7a"
                      class="w-4 h-4">
                      <path
                        d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                    </svg>
                  </button>
                </div>
                <div class="relative z-20 inline-block mt-2 tooltip">
                  <div
                    class="absolute z-0 flex items-center justify-between gap-4 p-1 pl-5 pr-8 mt-2 transition duration-75 ease-in bg-white rounded-full shadow-lg hover:hidden tooltiptext right-5">
                    <div>
                      <p class="m-0 text-xs">Will&nbsp;Smith</p>
                      <p class="m-0 text-xs text-C4">will.smith@archibo.de</p>
                    </div>
                  </div>
                  <img src="../assets/card/blogo4.png" class="z-10 w-14 hover:z-50 hover:relative">
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="flex justify-between mx-4 mt-3">
      <button class="p-2 px-4 text-sm text-white rounded-full bg-blue1" routerLink="/">
        << Back to Board view</button>
          <button class="p-2 px-4 text-sm text-white rounded-full bg-blue1" (click)="back()">
            Spin again</button>
    </div>
  </div>
  <!----mid side end --> <!----right side start -->
  <div class="shadow-lg rounded-b-3xl w-72 h-[700] bg-spinbg ">
    <div class="p-3 font-semibold rounded-t-3xl bg-cyan_blue">
      <p class="text-sm text-spintext">Players</p>
    </div>
    <div class="p-3 px-2 divide-y divide-blue1 divide-opacity-25 ">
      <div class=" text-end" *ngFor="let item of spindata  let i =index">
        <div class="flex items-center gap-1 text-sm font-semibold " *ngIf="i < 8">
          <img src="{{item.image}}" class=" w-14 h-14">
          <span class="pt-2 text-spintext">{{item.name}} </span>
        </div>
        <small class="underline cursor-pointer text-text2" *ngIf="i < 8" (click)="show()">{{item.text}}</small>
        <p *ngIf="i < 8">{{item.textp}}</p>
      </div>
    </div>
  </div> <!----right side end -->
</div>